@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #15203a;
	--bg-color-light: #23304b;
	--text-color: #20a26c;
	--text-color-light: #3aad5b;
}

body {
	font-family: 'Epilogue', sans-serif;
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
	background: var(--bg-color);
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: inherit;
}

.title {
	margin-bottom: 2rem;
}

.items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
}

.card {
	background: var(--bg-color-light);
	color: var(--text-color-light);
	padding: 2rem;
	border-radius: 1rem;
	transition: all 0.2s;
	border: solid 1px transparent;
	position: relative;
	font-size: 1.5rem;
}

.card:hover {
	background: var(--bg-color);
	border: solid 1px var(--text-color-light);
	cursor: pointer;
}

.float-idx {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 3rem;
	transform: translateY(-40%);
	font-weight: 700;
	color: rgb(221, 221, 221, 0.2);
}

.card:hover .float-idx {
	color: var(--text-color-light);
}

.footer {
	margin-top: 4rem;
}

.footer a {
	transition: all 0.2s;
}

.footer a:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	body {
		padding: 2rem;
	}

	.items {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.footer {
		margin-top: 1rem;
	}
}
